*.comment.py
*.pyc
daily_14*
forecast_canonical*
.du
# ipython private area
.ipynb_checkpoints
# local stuff in folders named zz-*
zz-*
scratch*
TAGS
connect.html
*.mov
*.mkv
*.mp4
*.pdf
*.png
*.jpg
*.key
*.pptx
*.bak
*.tar.gz
*.aux
*.log
*.tex
*.kml
*.json
html/*.ipynb
html/*.html
