*.pyc
semainex-a-ranger/
w0-teaser/
*.comment.py
daily_14*
forecast_canonical*
.du
# ipython private area
.ipynb_checkpoints
# local stuff in folders named zz-*
zz-*
scratch*
TAGS
connect.html
*.mov
*.mkv
*.mp4
*.pdf
*.png
*.jpg
*.key
*.pptx
*.bak
*.tar.gz
*.aux
*.log
*.tex
*.kml
*.json
html/*.ipynb
html/*.html
*.out
corriges/*.txt
corriges/*.toc
*foo*
*.pure

a-admin/

old-weeks/archive/

old-weeks/markdown/

*.tgz

w8/loop-stacks/

w8/single-stack/

standalone/

py2-standalone/

*.gz

w7/w7-directaccess/

w7/w7-view/
