jupyter
jupyterlab-myst
jupyterlab-gridwidth
jupyterlab-hidecell
jupytext

ipywidgets
ipythontutor
nbautoeval

numpy
matplotlib
pandas
plotly
chart-studio
jupyter-bokeh
bokeh
seaborn

autograd
k3d

aiohttp
nbautoeval
k3d
autograd
